{% load compress static wagtailuserbar core_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{ self.search_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {% compress css %}
      <link rel="stylesheet" media="all" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" media="all" href="{% static 'css/stylesheet.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/cms.css' %}">
    {% endcompress %}

    {% block extra_css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <div class="header-main-wrapper">
      <header class="header">
        <h1 id="logo"><a href="/">Tech Workers Coalition</a></h1>
        {% header_links %}
      </header>
      <main>
        <section>
          {% block content %}{% endblock %}
        </section>
      </main>
    </div>
    <footer>

      <div class="footer-content">
        {% footer_copy %}
        {% footer_links %}
      </div>
    </footer>
    {% compress js %}

    <script type="text/javascript" src="{% static 'js/cms.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
