{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    
{% endblock %}

<p>Do you work in tech?

<p>Are you concerned by pressing community issues to which the tech industry contributes (e.g. gentrification, homelessness, transit and income inequality)?

<p>Are you frustrated by tech stereotypes perpetuated by the media and outsized voices within our industry?

<p>Do you feel a strong need for change, but don’t know where to start?

<p>You are not alone.
<h2>About the Tech Workers Coalition</h2>
<p>We are a progressive community of tech workers from the Bay Area. Our mission is to strengthen our local communities, to make our workplaces more inclusive, and to promote social responsibility.

<p>By investing in the community, by building relationships with fellow workers outside the tech industry, and amplifying the voices for justice within our own industry, we aim to build a more positive, progressive San Francisco.


